.completed {
    text-decoration: line-through;
    color: rgb(19, 161, 90);
}

button { 
    font-size: 16px;
    margin: 3px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input {
    margin: 3px;
}