.completed {
    text-decoration: line-through;
    color: rgb(19, 161, 90);
}

button { 
    font-size: 15px;
    margin: 3px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #2f5f57;
    color: aliceblue;
}

input {
    margin: 3px;
}
